body {
  font-family: "Poppins", "Rubik", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: gray;
  background-color: rgb(0, 0, 0);
  background-image: url(images/nana.jpg);
  background-size: cover;
  background-position: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 10px;
}

.navbar li {
  list-style: none;
  display: inline-block;
  padding: 0 30px;
}

.navbar li a:hover {
  color: rgb(245, 229, 86);
}

li,
a,
button {
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  color: rgb(9, 9, 9);
}

.signup-btn {
  border: 2px solid rgb(10, 10, 10);
  padding: 5px 10px 10px;
  border-radius: 5px;
  background-color: transparent;
  color: rgb(9, 9, 9);
}

.left-container {
  float: left;
  width: 50%;
}

.left-content {
  margin-left: 130px;
  margin-top: 90px;
}

.left-content h4 {
  color: orangered;
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 20px;
}

.left-content h1 {
  font-size: 4rem;
  font-weight: 700;
  color: rgb(3, 3, 76);
  margin-bottom: 5px;
  line-height: 1.1;
  margin-top: 0;
}

.left-content {
  margin-top: 1rem;
  font-weight: 500;
  margin-bottom: 1.8rem;
  color: white;
}

.description {
  margin-top: 1rem;
  font-weight: 500;
  margin-bottom: 1.8rem;
  color: gray;


}

.contact-btn {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(249, 175, 28);
  color: white;
  border: none;
}

.booking-btn {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(247, 73, 79);
  color: white;
  margin-left: 20px;
  border: none;
}


.contact-btn:hover,
.booking-btn:hover {
  opacity: 0.85;
  cursor: pointer;
}

/* Service */
.category-title {
  text-align: center;
  margin-bottom: 4rem;
  padding-top: 150px;
}

.category-title h5 {
  color: gray;
  font-size: 1.125rem;
  margin-bottom: 0;
}

.category-title h3 {
  margin-top: 0;
  font-size: 3.2rem;
  text-transform: capitalize;
  font-weight: 700;
  color: rgb(3, 3, 76);
}

.service-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;

}

.card {
  width: 250px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 2rem;
  text-align: center;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.card:hover {
  cursor: pointer;
  opacity: 0.85;
  transition: 0.3s;


}


.card h4 {
  margin-bottom: 1rem;
  font-size: 1.26rem;
  color: rgb(42, 42, 42);
}

.card p {
  font-weight: 500;
}

/*destination-card*/

.destination-card {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 22%;
  padding: 2.5rem;
  text-align: left;
  background-color: white;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 1.5rem;
  margin-right: 35px;


}

.destination-card img {
  width: 100%;
  border-top-left-radius: calc(1.5rem - 1px);
  border-bottom-right-radius: calc(11.5rem - 1px);
  vertical-align: middle;
}

.destination-card h4 {

  color: rgb(62, 62, 62);
  font-weight: 500;
  font-size: 1.26rem;
  margin-left: -5px;

}

.destination-card h4 span {
  font-weight: 500;
  font-size: 1.125rem;
  float: right;
}

.arrow-icon {

  width: 20px;
  height: 40;
  color: black;
}





/*Booking Sevction Down*/


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  margin: 2rem;
  color: #3b3b56;
}

.trip-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
  max-width: 1100px;
  margin: auto;
}

.left-content {
  flex: 1;
  max-width: 500px;
}



h1 {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.step {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.icon {
  min-width: 48px;
  height: 48px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-yellow {
  background-color: #e7b827;
}

.icon-orange {
  background-color: #ec5b3b;
}

.icon-blue {
  background-color: #116c78;
}

.step p strong {
  font-weight: 700;
  color: #4c4f6d;
}

.step p:last-child {
  color: #6c738a;
  margin-top: 0.25rem;
}

.right-content {
  flex: 1;
  max-width: 450px;
  position: relative;
}

.trip-card {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 50px rgb(0 0 0 / 0.1);
  overflow: hidden;
  padding: 1rem;
}

.trip-card img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  height: 200px;
}

.trip-info {
  padding: 1rem 0;
  color: #4c4f6d;
}

.trip-info h3 {
  margin: 0 0 0.3rem 0;
  color: #000;
}

.trip-info p {
  margin: 0.2rem 0;
  font-size: 0.9rem;
  font-weight: 600;
  color: #6c738a;
}

.trip-info .icons span {
  margin-right: 0.5rem;
  font-size: 1.3rem;
}

.progress-popup {
  position: absolute;
  top: 120px;
  right: -30px;
  background: #fff;
  border-radius: 15px;
  padding: 1rem 1.5rem;
  width: 200px;
  box-shadow: 0 0 30px rgb(0 0 0 / 0.07);
}

.ongoing {
  font-weight: 500;
  font-size: 0.85rem;
  color: #6c738a;
  margin-bottom: 0.3rem;
}

.progress-popup h4 {
  margin: 0 0 0.3rem 0;
  font-weight: 700;
  font-size: 1.1rem;
  color: #2c2c2c;
}

.progress-popup p {
  margin: 0 0 0.8rem 0;
  font-weight: 600;
  font-size: 0.9rem;
  color: #6c738a;
}

.progress-bar {
  width: 100%;
  height: 6px;
  background: #ddd;
  border-radius: 6px;
}

.progress {
  height: 6px;
  background: #6b5fdb;
  border-radius: 6px;
  width: 40%;
  /* dynamic */
}



/*Contact part*/
.contact-section {
  padding: 80px 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 20px 129px 20px 20px;
  background: rgb(223, 215, 249, 0.4);
}

.subscribe-container {

  border-radius: 20px;
  max-width: 1170px;
  width: 100%;
  padding: 60px 40px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
}

.subscribe-content {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 2;
  max-width: 860px;
  margin: 0 auto;
}

.subscribe-content h2 {
  color: #5E6282;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 50px;
}

.subscribe-form {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.email-input-container {
  background-color: white;
  border-radius: 10px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  max-width: 421px;
  width: 100%;
  height: 60px;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.email-icon {
  margin-right: 15px;
  opacity: 0.7;
}

.email-icon img {
  width: 20px;
  height: 20px;
}

.email-input-container input {
  border: none;
  background: transparent;
  width: 100%;
  height: 100%;
  padding: 0;
  font-size: 16px;
  color: #5E6282;
}

.email-input-container input:focus {
  outline: none;
}

.email-input-container input::placeholder {
  color: #BAB9C1;
}

.subscribe-form button {
  background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: 600;
  padding: 0 35px;
  height: 60px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: 0 10px 20px rgba(255, 125, 104, 0.2);
}

.subscribe-form button:hover {
  transform: translateY(-3px);
}

/* Brand partners section */
.brand-partners {
  padding: 80px 0;
  background-color: #ffffff;
}

.partners-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

.partner-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 162px;
  height: 162px;

}

.partner-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

/* Footer Section */
.footer-section {

  padding: 80px 0 40px;
  color: #5E6282;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
}

.footer-col {
  flex: 1;
  min-width: 170px;
  margin-bottom: 30px;
  padding-right: 20px;
}

.logo-col {
  flex: 1.5;
}

.social-col {
  flex: 1.5;
}

.footer-logo {
  font-size: 44px;
  font-weight: 700;
  color: #181E4B;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer-tagline {
  font-size: 13px;
  line-height: 1.6;
  max-width: 250px;
}

.footer-col h4 {
  font-size: 21px;
  font-weight: 700;
  color: #080809;
  margin-bottom: 30px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 15px;
}

.footer-col ul li a {
  color: #5E6282;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.footer-col ul li a:hover {
  color: #3F3F3F;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.social-icon.facebook {
  color: #1877F2;
}

.social-icon.instagram {
  color: #E4405F;
}

.social-icon.twitter {
  color: #1DA1F2;
}

.social-icon:hover {
  transform: translateY(-5px);
}

.app-title {
  font-size: 20px;
  font-weight: 500;
  color: #5E6282;
  margin: 30px 0 15px;
}

.app-buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 15px;
}

.app-button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #000;
  padding: 10px 12px;
  border-radius: 30px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
  min-width: 140px;
}

.play-logo,
.apple-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-button i {
  font-size: 24px;
  color: #fff;
}

.app-text {
  display: flex;
  flex-direction: column;
}

.app-text .small-text {
  font-size: 8px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.app-text .large-text {
  font-size: 14px;
  font-weight: 600;
}

.app-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #F1F1F1;
}

.footer-bottom p {
  font-size: 14px;
  color: #5E6282;
}